.editor {
    display: grid;
    background: rgb(240, 240, 240);
    border: 1px solid black;
    font-family: monospace;

    .textarea {
        opacity: 0;
        height: 0;
        width: 0;
        pointer-events: none;
    }

    &:focus-within {
        outline: auto;

        .blinking-cursor {
            width: 2px;
            background-color: black;
            animation: 1s blink step-end infinite;
        }
    }
}

@keyframes blink {
    from,
    to {
        background-color: rgba(0, 0, 0, 0);
    }
    50% {
        background-color: black;
    }
}
